In [28]:
import numpy as np
import pandas as pd
df = pd.read_csv("ToyotaCorolla - MLR.csv")
df

,Price,Age_08_04,KM,Fuel_Type,HP,Automatic,cc,Doors,Cylinders,Gears,Weight
0,13500,23,46986,Diesel,90,0,2000,3,4,5,1165
1,13750,23,72937,Diesel,90,0,2000,3,4,5,1165
2,13950,24,41711,Diesel,90,0,2000,3,4,5,1165
3,14950,26,48000,Diesel,90,0,2000,3,4,5,1165
4,13750,30,38500,Diesel,90,0,2000,3,4,5,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,7500,69,20544,Petrol,86,0,1300,3,4,5,1025
1432,10845,72,19000,Petrol,86,0,1300,3,4,5,1015
1433,8500,71,17016,Petrol,86,0,1300,3,4,5,1015
1434,7250,70,16916,Petrol,86,0,1300,3,4,5,1015
1435,6950,76,1,Petrol,110,0,1600,5,4,5,1114

In [29]:
df.head()

,Price,Age_08_04,KM,Fuel_Type,HP,Automatic,cc,Doors,Cylinders,Gears,Weight
0,13500,23,46986,Diesel,90,0,2000,3,4,5,1165
1,13750,23,72937,Diesel,90,0,2000,3,4,5,1165
2,13950,24,41711,Diesel,90,0,2000,3,4,5,1165
3,14950,26,48000,Diesel,90,0,2000,3,4,5,1165
4,13750,30,38500,Diesel,90,0,2000,3,4,5,1170

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age_08_04  1436 non-null   int64
 2   KM         1436 non-null   int64
 3   Fuel_Type  1436 non-null   object
 4   HP         1436 non-null   int64
 5   Automatic  1436 non-null   int64
 6   cc         1436 non-null   int64
 7   Doors      1436 non-null   int64
 8   Cylinders  1436 non-null   int64
 9   Gears      1436 non-null   int64
 10  Weight     1436 non-null   int64
dtypes: int64(10), object(1)
memory usage: 123.5+ KB

In [31]:
df.isnull().sum()  #checking null values

Price        0
Age_08_04    0
KM           0
Fuel_Type    0
HP           0
Automatic    0
cc           0
Doors        0
Cylinders    0
Gears        0
Weight       0
dtype: int64

In [38]:
Y=df["KM"]
X=df[["HP"]]

In [39]:
#X=df[["HP","cc"]]
#X=df[["HP","cc","Cylinders"]]

In [42]:
# fit the model
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X,Y)
y_pred = model.predict(X)
from sklearn.metrics import mean_squared_error,r2_score
mse = mean_squared_error(Y,y_pred)
print("Mean squared error:", np.round(mse,2)) 
print("root Mean squared error:", np.round (np.sqrt(mse),2))
score = r2_score(Y,y_pred)
print("R square:",np.round(score,2))

Mean squared error: 1249367371.53
root Mean squared error: 35346.39
R square: 0.11

In [43]:
Y=df["KM"]
X=df[["HP","cc"]]

In [44]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X,Y)
y_pred = model.predict(X)
from sklearn.metrics import mean_squared_error,r2_score
mse = mean_squared_error(Y,y_pred)
print("Mean squared error:", np.round(mse,2))
print("root Mean squared error:", np.round (np.sqrt(mse),2))
score = r2_score(Y,y_pred)
print("R square:",np.round(score,2))

Mean squared error: 1230868007.69
root Mean squared error: 35083.73
R square: 0.12

In [45]:
Y=df["KM"]
X=df[["HP","cc","Cylinders"]]

In [46]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X,Y)
y_pred = model.predict(X)
from sklearn.metrics import mean_squared_error,r2_score
mse = mean_squared_error(Y,y_pred)
print("Mean squared error:", np.round(mse,2))
print("root Mean squared error:", np.round (np.sqrt(mse),2))
score = r2_score(Y,y_pred)
print("R square:",np.round(score,2))

Mean squared error: 1230868007.69
root Mean squared error: 35083.73
R square: 0.12

In [50]:
Y = df["HP"]
X = df[["cc"]]
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X,Y)
#model.coef_
y_pred = model.predict(X)
from sklearn.metrics import r2_score
score = r2_score(Y,y_pred)
vif = 1/(1-score)
print("VIF:",vif)

VIF: 1.0012872935842885

In [65]:
Y = df["HP"]
X = df[["Cylinders"]]
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X,Y)
#model.coef_
y_pred = model.predict(X)
from sklearn.metrics import r2_score
score = r2_score(Y,y_pred)
vif = 1/(1-score)
print("VIF:",vif)

VIF: 1.0

In [22]:
#step:8 Apply lasscoCV to find the best alpha
from sklearn.linear_model import LassoCV
from sklearn.model_selection import ShuffleSplit
import numpy as np

#Define the Shufflesplit cross validation strategy
shuffle_split_lassocv = ShuffleSplit(n_splits=100, test_size=0.2, random_state=42)


# Define the LassoCV model
# The 'alpha' parameter can be left as none to let LassoCV automatically determine the path
lassocv_model = LassoCV(cv=shuffle_split_lassocv, random_state=42)

print("\nLassoCV Results:")
print("\nRidge Results:")

#You can also access the mean squared error for the best alpha
print("Mean squared error for best alpha:")

LassoCV Results:

Ridge Results:
Mean squared error for best alpha:

In [21]:
#step:11 Fit Lasso model and Ridge model with best alpha.
from sklearn.linear_model import Lasso

print("\nAnalysis of Lasso Coefficients (with best alpha):")
print("\nAnalysis of Ridge Coefficients (with best alpha):")

Analysis of Lasso Coefficients (with best alpha):

Analysis of Ridge Coefficients (with best alpha):

1.What is Normalization & Standardization and how is it helpful?
A.a.Normalization means rescaling of numeric data to fixed range,most commonly 0 to 1.(min-max scaling).
  b.Standardization means transforming data so it has:
   * mean = 0
   * standard deviation  = 1

2.What techniques can be used to address multicollinearity in multiple linear regression?
A. Techniques to handle multicollinearity (High correlation between predictors)
    1.remove one of the correlated variables
    2.combine correlated variables
    3.use feature selection methods
      forward selection /backward elimination / stepwise regression 
    4.Regularization 
    *Ridge (L1)
    *Lasso (L2)
    *elastic net(L1&L2)
    5.Principal component Regression(PCR)
    6.Standardizing predictors
    7.Collect more data